:root {
  --blue: #316f9e;
  --black: #2f2e2e;
  --white: #ffffff;
  --brown: #9e6031;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 1100px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.headerOne {
  color: var(--White, #fff);
  font-family: "Playfair Display SC";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.headerTwo {
  color: var(--white);
  font-family: "Playfair Display";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.alternativeHeadline {
  color: var(--white);
  font-family: Playball;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.flexContainerCenterRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexContainerCenterCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}
