.brownButton,
.smallBrownButton {
  border-radius: 2px;
  border: 1px solid var(--black);
  background: var(--brown, #9e6031);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--white);
  font-size: 40px;
  padding: 10px 57px;
}

.brownButton:hover,
.smallBrownButton:hover {
  border: 1px solid var(--brown);
  background: var(--white, #fff);
  color: var(--brown);
  cursor: pointer;
}

.blueButton,
.smallBlueButton {
  border-radius: 2px;
  border: 1px solid var(--black, #2f2e2e);
  background: var(--blue, #316f9e);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--white);
  font-family: "Playfair Display SC";
  font-size: clamp(14px, 2vw, 30px);
  padding: 10px 57px;
  white-space: noWrap;
}

.blueButton:hover,
.smallBlueButton:hover {
  border-radius: 2px;
  border: 1px solid var(--blue);
  background: var(--white, #fff);
  color: var(--blue);
  cursor: pointer;
}

.smallBrownButton {
  font-size: 20px;
  padding: 7px 40px;
}

.smallBlueButton {
  font-size: 20px;
  padding: 7px 40px;
}

.paginationButton {
  background: none;
  color: var(--white);
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 460px) {
  .smallBlueButton {
    padding: 5px 20px;
    font-size: 14px;
  }
}
