/* Flex */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-noWrap {
  flex-wrap: nowrap;
}
.between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

/* grid */

.grid {
  display: grid;
}

/* styles */

.list-style-none {
  list-style: none;
}
.styles-none {
  text-decoration: none;
}

/* size */
.gap10 {
  gap: 10px;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.max-height550 {
  max-height: 550px;
}

/* position */
.marginAbout {
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.marginBackButton {
  margin-bottom: 20px;
}

.marginLinks {
  margin: 15px;
}
.z-index2 {
  z-index: 2;
}

.position-absolute {
  position: absolute;
}

.object-fit {
  object-fit: cover;
}

.overflow-hidden {
  overflow: hidden;
}

.position-left {
  align-self: flex-start;
}
.position-right {
  align-self: flex-end;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

/* other style */

.shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.cursor {
  cursor: pointer;
}

.background-brown {
  background-color: var(--brown);
}

.color-black {
  color: var(--black);
}
