:root {
  --blue: #316f9e;
  --black: #2f2e2e;
  --white: #ffffff;
  --brown: #9e6031;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  min-height: 100vh;
}

header,
footer {
  background-color: var(--white);
  color: var(--black);
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 1200px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 100px;
  flex: 1;
}

.headerText,
.footerHeader {
  color: var(--black);
  font-family: "Playfair Display SC";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  transition: all 500ms;
}

.headerText:hover,
.footerText:hover {
  color: var(--brown);
}

.headerOne {
  color: var(--White, #fff);
  font-family: "Playfair Display SC";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.headerTwo {
  color: var(--white);
  font-family: "Playfair Display";
  font-size: clamp(18px, 2vw, 22px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
}

.alternativeHeadline {
  color: var(--white);
  font-family: Playball;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  font-family: "Playfair Display";
  font-size: 20px;
}

.footerText {
  font-family: "Playfair Display";
  font-size: 25px;
  color: var(--black);
}
