.headlineContainer {
  width: 100%;
  background-color: var(--brown);
  padding: 18px 0px 18px 0;
  flex-shrink: 0;
}

.postImageBox {
  max-width: 600px;
  max-height: 200px;
  overflow: hidden;
}

.postGridImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
}
.imageTitle {
  position: absolute;
}



/*---------------Carousel--------------*/
.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carouselContainer {
position: absolute;
margin: 20px 0 20px 0;
}

.carouselImageContainer {
width: 100%;
max-height: 500px;
overflow: hidden;
}

.carouselButtons {
  position: absolute;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}